<div class="form-group msg-form">
  <%= form_with model: [@single_chat ,@message], remote: true, class: "d-flex" do |f| %>
    <%= f.text_field :text, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off' %>
    <%= f.submit 'Send message', data: { disable_with: false }, class: "submit-btn" %>
  <% end %>
</div>
