<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal"></div>
    <div id="chatModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <%= render "form", chat: @chat %>
      </div>
    </div>
  <div>
<% end %>
