// .msg-form {
//   position: fixed;
//   bottom: 0;
//   width: 90%
// }

// .col-md-10 {
//   height: 100vh;
//   overflow: scroll;
// }

// .msg-content {
//   width: 80%;
//   margin-right: 5px;
// }

.chat {
  background-color: rgb(39, 39, 39);
  color: white;
  height: 400px;
  width: 1000px;

  .msg-form {
    position: fixed;
    bottom: 0;
    width: 90%
  }


  .msg-content {
    width: 80%;
    margin-right: 5px;
    color: black;
  }
}